main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 400px;
  height: 500px;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
  position: relative;
}
.main-container h2 {
  font-size: 16px;
  font-weight: 600;
}
.task-Item {
  width: 90%;
  padding: 10px 16px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
}
.check {
  accent-color: dodgerblue;
}
.add-button {
  position: absolute;
  bottom: 16px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-content {
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.187);
}
.text {
  padding: 7px 16px;
  border-radius: 5px;
  border: 1px solid dodgerblue;
}
.add {
  padding: 2px 10px;
  border-radius: 5px;
  border: none;
  background-color: dodgerblue;
  color: white;
}
.Delet {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}
